.vs/Slack.All/v14/.suo
.vs/Slack.Notification.Desktop.Application/v14/.suo
Slack.Notification.Desktop.Application/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Slack.Notification.Service/bin/Debug/Newtonsoft.Json.dll
Slack.Notification.Service/bin/Debug/Newtonsoft.Json.xml
Slack.Notification.Desktop.Application/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Slack.Intelligens/bin/Debug/Newtonsoft.Json.dll
Slack.Intelligens/bin/Debug/Newtonsoft.Json.xml
Slack.Intelligens/bin/Debug/Slack.Intelligens.dll
Slack.Intelligens/bin/Debug/Slack.Intelligens.pdb
Slack.Intelligens/bin/Debug/Slack.dll
Slack.Intelligens/bin/Debug/Slack.pdb
Slack.Intelligens/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Slack.Intelligens/obj/Debug/Slack.Intelligence.csproj.FileListAbsolute.txt
Slack.Intelligens/obj/Debug/Slack.Intelligence.csprojResolveAssemblyReference.cache
Slack.Intelligens/obj/Debug/Slack.Intelligens.csproj.FileListAbsolute.txt
Slack.Intelligens/obj/Debug/Slack.Intelligens.csprojResolveAssemblyReference.cache
Slack.Intelligens/obj/Debug/Slack.Intelligens.dll
Slack.Intelligens/obj/Debug/Slack.Intelligens.pdb
Slack.Intelligens/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Slack.Intelligens/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Slack.Intelligens/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Slack.Notification.Console.Application/bin/Debug/Newtonsoft.Json.dll
Slack.Notification.Console.Application/bin/Debug/Newtonsoft.Json.xml
Slack.Notification.Console.Application/bin/Debug/Slack.Intelligens.dll
Slack.Notification.Console.Application/bin/Debug/Slack.Intelligens.pdb
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Console.Application.exe
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Console.Application.exe.config
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Console.Application.pdb
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Console.Application.vshost.exe
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Console.Application.vshost.exe.config
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Console.Application.vshost.exe.manifest
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Service.dll
Slack.Notification.Console.Application/bin/Debug/Slack.Notification.Service.pdb
Slack.Notification.Console.Application/bin/Debug/Slack.dll
Slack.Notification.Console.Application/bin/Debug/Slack.pdb
Slack.Notification.Console.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Slack.Notification.Console.Application/obj/Debug/Slack.Notification.Console.Application.csproj.FileListAbsolute.txt
Slack.Notification.Console.Application/obj/Debug/Slack.Notification.Console.Application.csprojResolveAssemblyReference.cache
Slack.Notification.Console.Application/obj/Debug/Slack.Notification.Console.Application.exe
Slack.Notification.Console.Application/obj/Debug/Slack.Notification.Console.Application.pdb
Slack.Notification.Console.Application/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Slack.Notification.Console.Application/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Slack.Notification.Console.Application/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Slack.Notification.Desktop.Application/bin/Debug/Newtonsoft.Json.dll
Slack.Notification.Desktop.Application/bin/Debug/Newtonsoft.Json.xml
Slack.Notification.Desktop.Application/bin/Debug/Slack.Intelligens.dll
Slack.Notification.Desktop.Application/bin/Debug/Slack.Intelligens.pdb
Slack.Notification.Desktop.Application/bin/Debug/Slack.Notification.Service.dll
Slack.Notification.Desktop.Application/bin/Debug/Slack.Notification.Service.pdb
Slack.Notification.Desktop.Application/bin/Debug/Slack.dll
Slack.Notification.Desktop.Application/bin/Debug/Slack.pdb
Slack.Notification.Desktop.Application/bin/Debug/SlackDesktopBubbleApplication.exe
Slack.Notification.Desktop.Application/bin/Debug/SlackDesktopBubbleApplication.exe.config
Slack.Notification.Desktop.Application/bin/Debug/SlackDesktopBubbleApplication.pdb
Slack.Notification.Desktop.Application/bin/Debug/SlackDesktopBubbleApplication.vshost.exe
Slack.Notification.Desktop.Application/bin/Debug/SlackDesktopBubbleApplication.vshost.exe.config
Slack.Notification.Desktop.Application/bin/Debug/SlackDesktopBubbleApplication.vshost.exe.manifest
Slack.Notification.Desktop.Application/bin/Debug/SlackNotificationService.dll
Slack.Notification.Desktop.Application/obj/Debug/App.g.cs
Slack.Notification.Desktop.Application/obj/Debug/App.g.i.cs
Slack.Notification.Desktop.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Slack.Notification.Desktop.Application/obj/Debug/LoginWindow.g.i.cs
Slack.Notification.Desktop.Application/obj/Debug/MainWindow.baml
Slack.Notification.Desktop.Application/obj/Debug/MainWindow.g.cs
Slack.Notification.Desktop.Application/obj/Debug/MainWindow.g.i.cs
Slack.Notification.Desktop.Application/obj/Debug/SettingsWindow.baml
Slack.Notification.Desktop.Application/obj/Debug/SettingsWindow.g.cs
Slack.Notification.Desktop.Application/obj/Debug/SettingsWindow.g.i.cs
Slack.Notification.Desktop.Application/obj/Debug/Slack.Notification.Desktop.Application.csproj.FileListAbsolute.txt
Slack.Notification.Desktop.Application/obj/Debug/Slack.Notification.Desktop.Application.csproj.GenerateResource.Cache
Slack.Notification.Desktop.Application/obj/Debug/Slack.Notification.Desktop.Application.csprojResolveAssemblyReference.cache
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.Properties.Resources.resources
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.csproj.FileListAbsolute.txt
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.csproj.GenerateResource.Cache
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.csprojResolveAssemblyReference.cache
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.exe
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.g.resources
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication.pdb
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication_Content.g.i.cs
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication_MarkupCompile.cache
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication_MarkupCompile.i.cache
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication_MarkupCompile.i.lref
Slack.Notification.Desktop.Application/obj/Debug/SlackDesktopBubbleApplication_MarkupCompile.lref
Slack.Notification.Desktop.Application/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Slack.Notification.Desktop.Application/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Slack.Notification.Service/bin/Debug/Slack.Intelligens.dll
Slack.Notification.Service/bin/Debug/Slack.Intelligens.pdb
Slack.Notification.Service/bin/Debug/Slack.Notification.Service.dll
Slack.Notification.Service/bin/Debug/Slack.Notification.Service.pdb
Slack.Notification.Service/bin/Debug/Slack.dll
Slack.Notification.Service/bin/Debug/Slack.pdb
Slack.Notification.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Slack.Notification.Service/obj/Debug/Slack.Notification.Service.csproj.FileListAbsolute.txt
Slack.Notification.Service/obj/Debug/Slack.Notification.Service.csprojResolveAssemblyReference.cache
Slack.Notification.Service/obj/Debug/Slack.Notification.Service.dll
Slack.Notification.Service/obj/Debug/Slack.Notification.Service.pdb
Slack.Notification.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Slack.Notification.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Slack.Notification.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Slack/bin/Debug/Newtonsoft.Json.dll
Slack/bin/Debug/Newtonsoft.Json.xml
Slack/bin/Debug/Slack.dll
Slack/bin/Debug/Slack.pdb
Slack/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Slack/obj/Debug/Slack.csproj.FileListAbsolute.txt
Slack/obj/Debug/Slack.csprojResolveAssemblyReference.cache
Slack/obj/Debug/Slack.dll
Slack/obj/Debug/Slack.pdb
Slack/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Slack/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Slack/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
